<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layouts/admin :: metadata(${meta.title})}"></head>

<body style="display: flex;">
    <aside th:replace="~{layouts/admin :: app-menu}"></aside>

    <section style="flex-grow: 1">
        <header th:replace="~{layouts/admin :: header(${page.title})}"></header>

        <main class="p-2">
            <form method="post" action="#" th:action="@{/books/create}" th:object="${book}">
                <div class="field">
                    <label class="label">Book Type</label>
                    <div class="control">
                        <label for="book.type.FICTION" class="radio">
                            <input type="radio" id="book.type.FICTION" value="FICTION" th:field="*{type}">
                            Fiction
                        </label>

                        <label for="book.type.NON_FICTION" class="radio">
                            <input type="radio" id="book.type.NON_FICTION" value="NON_FICTION" th:field="*{type}">
                            Non-fiction
                        </label>
                    </div>
                </div>

                <div class="field">
                    <label for="book.isbn" class="label">ISBN</label>
                    <div class="control">
                        <input th:field="*{isbn}" id="book.isbn" class="input" type="text"
                            placeholder="Introduction to Algorithms">
                    </div>
                </div>

                <div class="field">
                    <label for="book.title" class="label">Title</label>
                    <div class="control">
                        <input th:field="*{title}" id="book.title" class="input" type="text"
                            placeholder="Introduction to Algorithms">
                    </div>
                </div>

                <div class="field">
                    <label for="book.authors" class="label">Authors</label>
                    <div class="select is-multiple">
                        <select multiple th:field="*{authors}" id="book.authors">
                            <option th:each="author : ${authors}" th:value="${author.id}"
                                th:text="${author.fullname}" />
                        </select>
                    </div>
                </div>

                <div class="field">
                    <label for="book.publisher" class="label">Publisher</label>
                    <div class="select">
                        <select th:field="*{publisher}" id="book.publisher">
                            <option th:each="publisher : ${publishers}" th:value="${publisher.id}"
                                th:text="${publisher.name}" />
                        </select>
                    </div>
                </div>

                <div class="field">
                    <label for="book.category" class="label">Category</label>
                    <div class="select">
                        <select th:field="*{category}" id="book.categoriy">
                            <option th:each="category : ${categories}" th:value="${category.id}"
                                th:text="${category.name}" />
                        </select>
                    </div>
                </div>

                <div class="field">
                    <label for="book.topics" class="label">Topics</label>
                    <div class="checkboxes">
                        <label class="checkbox" th:each="topic : ${topics}">
                            <input th:field="*{topics}" type="checkbox" th:value="${topic.id}">
                            <span th:text="${topic.name}" />
                        </label>
                    </div>
                </div>

                <div class="field">
                    <label for="book.description" class="label">Description</label>
                    <div class="control">
                        <textarea th:field="*{description}" id="book.description" class="textarea"
                            placeholder="Lorem ipsum..."></textarea>
                    </div>
                </div>

                <button type="submit" class="button is-primary">Save</button>
            </form>
        </main>
    </section>
</body>

</html>