<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: metadata(${meta.title})}" />

<body style="display: flex;">
    <nav th:replace="~{fragments/menu}" />

    <section style="flex-grow: 1">
        <header th:replace="~{fragments/header :: header(${page})}" />

        <a class="button is-primary" th:href="|/app/books/${book.id}/file/upload|">
            Upload
        </a>

        <main class="p-2">
            <table class="table">
                <thead>
                    <tr>
                        <th>Actions</th>
                        <th>Label</th>
                        <th>Filename</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="documentFile : ${book.documentFiles}">
                        <td>
                            <a th:href="|/app/books/${book.id}/file/${documentFile.file.id}/download|" class="button is-primary">Download</a>
                            <a th:href="|/app/books/${book.id}/file/${documentFile.id}/remove|" class="button is-danger">Remove</a>
                        </td>
                        <td th:text="${documentFile.label}" />
                        <td th:text="${documentFile.file.filename}" />
                    </tr>
                </tbody>
            </table>
        </main>
    </section>
</body>

</html>