spring:
    application:
        name: toshokan
    datasource:
        url: ${DATABASE_URI}
        username: ${DATABASE_USERNAME}
        password: ${DATABASE_PASSWORD}
        driver-class-name: org.postgresql.Driver
        hikari:
            schema: application
    jpa:
        hibernate:
            ddl-auto: none
        show-sql: true
        properties:
            hibernate:
                dialect: org.hibernate.dialect.PostgreSQLDialect
                "[format_sql]": true
        database: postgresql
        database-platform: org.hibernate.dialect.PostgreSQLDialect
    servlet:
        multipart:
            max-file-size: 500MB
            max-request-size: 500MB
    flyway:
        enabled: ${FLYWAY_ENABLED:false}
        locations: classpath:db/migration/postgres
        validate-on-migrate: true
        schemas:
            - configuration
            - application
        default-schema: configuration
    devtools:
        livereload:
            enabled: true
        restart:
            enabled: true

server:
    port: ${SERVER_PORT:8080}

cors:
    allowed-origins: ${CORS_ALLOWED_ORIGINS}

security:
    jwt:
        secret: ${JWT_SECRET:"secret"}
        expires-in: ${JWT_EXPIRES_IN:3600000}
        issuer: ${JWT_ISSUER:"issuer"}
        subject: ${JWT_SUBJECT:"subject"}
storage:
    type: ${STORAGE_TYPE}
    local:
        root-directory: ${LOCAL_STORAGE_ROOT_DIRECTORY}
    minio:
        endpoint: ${MINIO_ENDPOINT}
        access-key: ${MINIO_ACCESS_KEY}
        secret-key: ${MINIO_SECRET_KEY}
        bucket: ${MINIO_BUCKET}

email:
    host: ${EMAIL_HOST}
    port: ${EMAIL_PORT}
    username: ${EMAIL_USERNAME}
    password: ${EMAIL_PASSWORD}
    properties:
        mail:
            smtp:
                auth: true
                starttls:
                    enable: true