<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/admin :: metadata(${meta.title})"></head>

<body style="display: flex;">
    <aside th:replace="layouts/admin :: app-menu"></aside>

    <section style="flex-grow: 1">
        <header th:replace="layouts/admin :: header(${page.title})"></header>

        <main class="p-2">
            <form method="post" action="#" th:action="|/publishers/${publisher.id}/update|" th:object="${publisher}">
                <div class="field">
                    <label for="publisher.name" class="label">Name</label>
                    <div class="control">
                        <input th:field="*{name}" id="publisher.name" class="input" type="text" placeholder="No Starch Press">
                    </div>
                </div>

                <div class="field">
                    <label for="publisher.description" class="label">Description</label>
                    <div class="control">
                        <textarea th:field="*{description}" id="publisher.description" class="textarea" placeholder="Lorem ipsum..."></textarea>
                    </div>
                </div>

                <button type="submit" class="button is-primary">Save</button>
            </form>
        </main>
    </section>
</body>

</html>