<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layouts/admin :: metadata(${meta.title})}"></head>

<body style="display: flex;">
    <aside th:replace="~{layouts/admin :: app-menu}"></aside>

    <section style="flex-grow: 1">
        <header th:replace="~{layouts/admin :: header(${page.title})}"></header>

        <nav th:replace="~{fragments/navigation :: pagination(${pagination})}"></nav>

        <main class="p-2">
            <div>
                <a class="button is-primary" href="/users/create">
                    Create
                </a>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>Actions</th>
                        <th>ID</th>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Role</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="user : ${users}">
                        <td>
                            <a th:href="|/users/${user.id}/edit|" class="button is-primary">Edit</a>
                            <a th:href="|/users/${user.id}/remove|" class="button is-danger">Delete</a>
                        </td>
                        <td th:text="${user.id}" />
                        <td th:text="${user.fullname}" />
                        <td th:text="${user.email}" />
                        <td th:text="${user.role}" />
                    </tr>
                </tbody>
            </table>
        </main>
    </section>
</body>

</html>