<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: metadata(${meta.title})}" />

<body style="display: flex;">
    <nav th:replace="~{fragments/menu}" />

    <section style="flex-grow: 1">
        <header th:replace="~{fragments/header :: header(${page})}" />

        <main class="p-2">
            <form method="post" action="#" th:action="|/app/users/${user.id}/update|" th:object="${user}">
                <div class="field">
                    <label class="label">Role</label>
                    <div class="control">
                        <label for="user.role.ADMIN" class="radio">
                            <input type="radio" id="user.role.ADMIN" value="ADMIN" th:field="*{role}">
                            Admin
                        </label>

                        <label for="user.role.LIBRARIAN" class="radio">
                            <input type="radio" id="user.role.LIBRARIAN" value="LIBRARIAN" th:field="*{role}">
                            Librarian
                        </label>

                        <label for="user.role.READER" class="radio">
                            <input type="radio" id="user.role.READER" value="READER" th:field="*{role}">
                            Reader
                        </label>
                    </div>
                </div>

                <div class="field">
                    <label for="user.fullname" class="label">Full Name</label>
                    <div class="control">
                        <input th:field="*{fullname}" id="user.fullname" class="input" type="text" placeholder="Philip K. Dick">
                    </div>
                </div>

                <div class="field">
                    <label for="user.username" class="label">Username</label>
                    <div class="control">
                        <input th:field="*{username}" id="user.username" class="input" type="text" placeholder="philipkdick">
                    </div>
                </div>

                <div class="field">
                    <label for="user.email" class="label">Email</label>
                    <div class="control">
                        <input th:field="*{email}" id="user.email" class="input" type="email" placeholder="example@email.com">
                    </div>
                </div>

                <button type="submit" class="button is-primary">Save</button>
            </form>
        </main>
    </section>
</body>

</html>