<nav th:fragment="app-menu" class="menu p-4" style="flex-basis: auto;">
    <p class="menu-label">Administration</p>
    <ul class="menu-list">
        <li><a>Dashboard</a></li>
        <li><a href="/app/users/list">Users</a></li>
    </ul>

    <p class="menu-label">Documents</p>
    <ul class="menu-list">
        <li><a href="/app/books/list">Books</a></li>
        <li><a href="/app/whitepapers/list">Whitepapers</a></li>
    </ul>

    <p class="menu-label">Settings</p>
    <ul class="menu-list">
        <li><a href="/app/authors/list">Authors</a></li>
        <li><a href="/app/categories/list">Categories</a></li>
        <li><a href="/app/publishers/list">Publishers</a></li>
        <li><a href="/app/topics/list">Topics</a></li>
    </ul>

    <p class="menu-label">Authentication</p>
    <ul class="menu-list">
        <li>
            <form action="/app/auth/logout" method="post">
                <button type="submit">
                    Logout
                </button>
            </form>
        </li>
    </ul>
</nav>