<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: metadata(${meta.title})}" />

<body style="display: flex;">
    <nav th:replace="~{fragments/menu}" />

    <section style="flex-grow: 1">
        <header th:replace="~{fragments/header :: header(${page})}" />

        <nav th:replace="~{components/navigation :: navigation(${pagination})}"></nav>

        <main class="p-2">
            <div>
                <a class="button is-primary" href="/app/categories/create">
                    Create
                </a>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>Actions</th>
                        <th>ID</th>
                        <th>Name</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="category : ${categories}">
                        <td>
                            <a th:href="|/app/categories/${category.id}/edit|" class="button is-primary">Edit</a>
                            <a th:href="|/app/categories/${category.id}/remove|" class="button is-danger">Delete</a>
                        </td>
                        <td th:text="${category.id}" />
                        <td th:text="${category.name}" />
                    </tr>
                </tbody>
            </table>
        </main>
    </section>
</body>

</html>